/*

# yaes package
!/yaes/
!/init.el

!/README.md

# Git file
!/.gitignore

# emacs project
!/.projectile

# multicursor setting
!/.mc-lists.el

# emacs binary compiled files
*.elc

# emacs temp files
*~